

.footer_container li,a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.footer_container{
    display:flex;
    justify-content: space-around;
    max-width: 1440px;
   background-color: #0861A1;
   max-height: 328px;
}
.inside_container{
    display: flex;
    justify-content: space-around;
    max-width: 558px;
    max-height: 303px;
    background-color: #0C68A8;
    border-radius: 10px;
    margin-top: 10px;
}
.item1{
    width: 180px;
    margin-top: 10px;
}
.item1 p{
    font-size: 12px;
    color: white;
}
.footer_inside a{
    font-size: 16px;
}
.footer_heading_inside a{
    font-size: 20px; 
}
.inside_container li{
margin-bottom:  6px;
}
.item3{
    margin-top: 10px;
}
.item3 a{
font-size: 20px;
}
.item3 li{
    margin-bottom:  6px;
}
.item3{
    width: 220px;
    text-align: start;
}
.footer_container_logos{
   margin-left: 40px;
}
.item4{
  align-self: flex-end;
 
}
#btnScrollToTop{
    background-color: #0861A1;
   border: none;
   margin-bottom: 20px;
}
.item1_img{
    width: 100px;
}

@media (max-width:961px){
    .footer_container{
        display: grid;
        grid-template-columns: repeat(6,100px);
        grid-template-rows: repeat(11,50px);
        max-height: 600px;
    }
    .inside_container{
        grid-column: span 4;
        grid-row: span 8;
        max-height: 393px;
    }
    .item1{
        grid-column: 1/3;
        grid-row: span 4;
    }
    .item4{
        grid-column: 6/7;
        grid-row: span 5;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 5/10;
    }
    .margin_right1{
        margin-left: -40px;
    }
    .inside_container li{
        margin-bottom: 16px;
    }
}

@media (max-width:768px){
    .footer_container{
        display: grid;
        grid-template-columns: repeat(3,105px);
        grid-template-rows: repeat(12,121px);
        max-height: 1214px;
    }
    .inside_container{
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 703px;
        grid-column: span 3;
        grid-row: 1/7;
        background-color: #0861A1;
        margin-left: -40px;
    }
    .item1{
        margin-top: -80px;
        grid-column: span 3;
        grid-row: 10/12;
    }
    .item3{
        grid-column: span;
        grid-row: 7/10;
    }
    .item1_img{
        width: 85px;
    }
    .item4{
        grid-column: 3;
        grid-row: span 3;
    }
}


@media (max-width:320px){
    .inside_container{
        margin-left: 30px;
    }
    .item1{
        margin-left: 70px;
    }
    .item3{
        margin-left: 30px;
    }
}